gmtx.ru {
    reverse_proxy gmtx-webui-frontend-1:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

cp.gmtx.ru {
    reverse_proxy gmtx-webui-backend-1:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

static.gmtx.ru {
    reverse_proxy gmtx-webui-static-1:80 {
        header_up Host {host}
        header_up X-Real-IP {remote}
    }
}

chat.gmtx.ru {
    reverse_proxy https://89.179.122.36:8443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}